

@{
    Layout = null;  
}

@Html.Partial("_Header")


<div>
    @Html.Partial("_DropDowns")
</div>
<div style="width:118em; height:70em; margin-left:36em" id="siteloader"></div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
    $("#siteloader").html('<object data="https://docs.google.com/spreadsheets/d/1v-ZSkfiv32IjmtTlZWenC9-9epcWokwWuncPB0CSVM8/edit#gid=959361132" />');
</script>

@*<script type="text/javascript" language="javascript">
    jQuery(document).ready(function () {
        function refresh() {
            setTimeout("jQuery('#Dropdowns').load('#Dropdowns');", 10000);
        }
        refresh();
    });
</script>*@

<script>
    $(document).ready(function () {
        $("#submit-form").click(function () {
            var model = {};
            model.EmployeeID = Number($("#employeeId").val());
            model.PositionID = Number($("#positionId").val());
            console.log("model", model);
            $.ajax({
                type: "HttpPost",
                url: "/Home/CreateData",
                dataType: 'json',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success)
                        window.location.href = "/Home/Index";
                    else
                        alert("Error: Break not submitted");
                },
                error: function () {
                    alert("Error: Break not submitted");
                }
            });
        });



    });
</script>
<script>
    $(".empName").click(function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "Remove from the break list?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "Post",
                    url: "/Home/DeleteBreaks",
                    dataType: 'json',
                    data: { "breakID": $(this).closest("tr").find(".hiddenBreaksID").val() },
                    success: function (data) {

                        if (data == true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully Removed!',
                                showConfirmButton: false,
                                timer: 0850,

                            })
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Failure!',
                                showConfirmButton: false,
                                timer: 2000
                            })
                        }
                    },
                    error: function () {
                        alert("Something went wrong. What is this? Tritech?");
                    }
                });
            }
        })
    });
</script>

@*DTH JQuery*@
<script>
    $(document).ready(function () {
        $("#Dthsubmit-form").click(function () {
            var model = {};
            model.EmployeeID = Number($("#dthemployeeId").val());
            model.PositionID = Number($("#dthpositionId").val());
            console.log("model", model);
            $.ajax({
                type: "HttpPost",
                url: "/Home/CreateDth",
                dataType: 'json',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success)
                        window.location.href = "/Home/Index";
                    else
                        alert("Error: DTH not submitted");
                },
                error: function () {
                    alert("Error: DTH not submitted");
                }
            });
        });



    });
</script>

<script>
    $(".empNameDth").click(function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "Remove from the DTH list?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "Post",
                    url: "/Home/DeleteDth",
                    dataType: 'json',
                    data: { "dthID": $(this).closest("tr").find(".hiddenDthID").val() },
                    success: function (data) {

                        if (data == true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully Removed!',
                                showConfirmButton: false,
                                timer: 0850,

                            })
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Failure!',
                                showConfirmButton: false,
                                timer: 2000
                            })
                        }
                    },
                    error: function () {
                        alert("Something went wrong. What is this? Tritech?");
                    }
                });
            }
        })


    });
</script>

<script>
    $(document).ready(function () {
        $("#Lunchsubmit-form").click(function () {
            var model = {};
            model.EmployeeID = Number($("#lunchemployeeId").val());
            model.PositionID = Number($("#lunchposition").val());
            model.LunchTime = String($("#lunchtime").val());
            model.LongerLunch = $('#lunch45').is(":checked");
            console.log("model", model);
            $.ajax({
                type: "HttpPost",
                url: "/Home/CreateLunch",
                dataType: 'json',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success)
                        window.location.href = "/Home/Index";
                    else
                        alert("Error: Lunch not submitted");
                },
                error: function () {
                    alert("Error: Lunch not submitted");
                }
            });
        });
    });
</script>

<script>
    $(".empNameLunch").click(function () {
        Swal.fire({
            title: 'DO NOT DELETE UNLESS CANCELLING',
            text: "Only delete if you're cancelling your lunch time. DO NOT delete past, current and future lunches.",
            icon: 'error',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Cancel my lunch'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "Post",
                    url: "/Home/DeleteLunch",
                    dataType: 'json',
                    data: { "lunchID": $(this).closest("tr").find(".hiddenLunchID").val() },
                    success: function (data) {

                        if (data == true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully Removed!',
                                showConfirmButton: false,
                                timer: 2000,

                            })
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Failure!',
                                showConfirmButton: false,
                                timer: 2000
                            })
                        }
                    },
                    error: function () {
                        alert("Something went wrong. What is this? Tritech?");
                    }
                });
            }
        })


    });
        //$(document).on("change", '#lunchemployeeId', function () {

        //    if ($(this).val() == "") {
        //        $("#lunchtime").html("<option selected>--Lunch Time--</option>");

        //    }
        //    else {
        //        $.ajax({
        //            url: '/Home/GetLunchTimeeDDLByEmployee/',
        //            type: 'POST',
        //            data: { empID: $(this).val() },
        //            dataType: 'json',
        //            success: function (result) {

        //                $("#lunchtime").html(result.lunchTimeDDL);

        //            }
        //        });
        //    }
        //});
</script>
